<form action="/postado" method="POST">
    <p>Titulo: </p> 
    <input name="titulo">
    
    <p>Conteúdo: </p>
    <textarea name="conteudo" cols="30" rows="8"></textarea>  
    <br>

    <button type="submit">Enviar Postagem</button>
</form>